@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

.license {
  display: flex;
  align-items: center;
  height: 40px;
  border: 2px solid #294394;
  border-radius: 2px;
  overflow: hidden;

  &__country {
    background-image: url('https://d12bmfj3oyxu0t.cloudfront.net/vergelijkdirect/logo/nl-license.png');
    height: 40px;
    width: 35px;
    background-size: cover;
    background-position: center;
  }

  &__input {
    background: rgb(248, 197, 44);
    width: 100%;

    input {
      height: 40px;
      padding: 5px;
      box-sizing: border-box;
      font-size: 20px;
      width: 100%;
      padding-left: 15px;
      border: transparent;
      color: black;
      background: transparent;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: "Roboto Condensed", sans-serif;

      &:focus {
        outline: transparent;
      }
    }
  }
}